@page
@model PractAssignment.Areas.Identity.Pages.Account.ExpiredPasswordConfirmation

@{
    ViewData["Title"] = "Expired password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your expired password.
</p>