@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" id="reset-password-form">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div id="error-col" class="mb-3" hidden>
                <div id="client-error-list">
                    <ul id="error-ul" class="mb-0">

                    </ul>
                </div>
            </div>
            <input asp-for="Input.Code" type="hidden"/>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" id="email-input" required/>
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." id="password-input" required/>
                <label asp-for="Input.Password" class="form-label">New Password</label>
                <div id="pswmeter"></div>
                <div id="pswmeter-message"></div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." id="confirm-input" required/>
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/lib/pswmeter-master/pswmeter.js"></script>
    <script src="~/js/resetPassword.js"></script>
}