@page
@model PractAssignment.Areas.Identity.Pages.Account.SetPassword

@{
    ViewData["Title"] = "Set password";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage"/>
<h2>Your password has expired.</h2>
<hr/>
<div class="row gy-3">
    <div id="error-col" class="col-12" hidden>
        <div id="client-error-list">
            <ul id="error-ul" class="mb-0">

            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <form method="post" id="set-password-form">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" id="email-input" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required/>
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" id="oldpassword-input" class="form-control" autocomplete="old-password" aria-required="true" placeholder="Please enter your password." required/>
                <label asp-for="Input.OldPassword" class="form-label">Old Password</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" id="password-input" class="form-control" autocomplete="old-password" aria-required="true" placeholder="Please enter your password." required/>
                <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                <div id="pswmeter"></div>
                <div id="pswmeter-message"></div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" id="confirm-input" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." required/>
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/lib/pswmeter-master/pswmeter.js"></script>
    <script src="~/js/setPassword.js"></script>
}